body {
    margin: 0, 0, 0, 0;
}

.container {
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
}

.image {
    width: 100%;
    height: auto;

}

.Image2 {
    width: 300px;
}

.BlocPara {
    display: flex;
    justify-content: flex-end;
}

.BlocPara a {
    background-color: blue;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    transition: background-color 0, 3s;
}

.BlocPara a:hover {
    background-color: rgb(0, 0, 203);
}

.BlocPara a:active {
    background-color: rgb(0, 0, 166);
}



@media (max-width: 768px) {
    .BlocPara {
        display: flex;
        align-content: center;
        flex-direction: column;
        overflow-wrap: break-word;
        overflow: hidden;
        white-space: wrap;
    }

    .text h1 {
        display: flex;
        justify-content: center;
    }

    .text a {
        display: flex;
        justify-content: center;
        margin-left: 30%;
        margin-right: 30%;
    }

    .right_page {
        display: flex;
        justify-content: center;
    }

    .Image2 {
        width: 100%;
        height: auto;
    }

}