.card_apropos{
    width: auto;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 2px 0 inset;
    display: flex;
    column-gap: 5px;
}

.img_card{
    width: 75px;
    height: 150px;
    border-radius: 10px;
}

.container_apropos{
    display: flex;
    justify-content: space-around, center;
    width : 100% ;
    margin-left: auto;
    margin-right: auto;
}

.img_apropos{
    width: 100%;
    height: 500px;
}

@media (max-width: 768px){
    .container_apropos{
        flex-direction: column;
    }
}