    .container_contact{
        display: flex;
        justify-content: space-around, center;
        width : 100% ;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        flex-direction: column;
    }

    .contact{
        display: flex;
        justify-content: center;
    }

    .formulaire_contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        row-gap: 12px;
    }

    .nom_prenom{
        display: flex;
        gap: 10px;
    }

    .nom{
        display: flex;
        flex-direction: column;
    }

    .prenom{
        display: flex;
        flex-direction: column;
    }

    .email{
        display: flex;
        flex-direction: column;
    }

    .sujet{
        display: flex;
        flex-direction: column;
    }

    textarea{
        resize: none;
    }

    .forms{
        border-radius: 4px;
        border: 0px;
        background-color: white(1, 175, 1);
        color: white;
    }

    .bouton_formulaire{
        display: flex;
        justify-content: flex-end;
    }

    .button{
        width: 160px;
        height: 30px;
        border-radius: 4px;
        border: 0px;
        background-color: red;
        cursor: pointer;
    }

    @media (max-width: 768px){
        .bouton_formulaire{
            flex-wrap: wrap;
            justify-content: center;
        }

        .formulaire{
            margin-left: auto;
            margin-right: auto;
        }
    }